{% extends 'base.html.twig' %}

{% block title %}
    Create a new serie | {{ parent() }}
{% endblock %}

{% block body %}
    <div>
        {# TODO: afficher le formulaire #}
    </div>
{% endblock %}

