{% extends 'base.html.twig' %}

{% block title %}
    TODO: afficher le titre de la série | {{ parent() }}
{% endblock %}

{% block body %}
    <h2>TODO: titre série</h2>

    {# Afficher infos de la série #}
{% endblock %}

